.up{
    padding: 20px;
    display: flex;
    background-color: #F9CB40;
}

.bottom{
    padding: 20px;
    background-color: #FF715B;
    color: white;
    padding-left: 200px;
}

.informasi_umum{
    flex: wrap;
    float: right;
    text-align: left;
    padding-left: 70px;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: 'Comic Neue';
}

#nama{
    font-family: 'Chonburi';
    font-size: 40px;
    font-weight: bold;
}

#sekolah{
    font-size: 30px;
}

#angkatan{
    font-size: 20px;
}

#npm{
    font-size: 20px;
}

#quote{
    font-family: 'Cherry Swash';
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
}

.foto{
    padding-left: 200px;
    flex: wrap;
    float: left;
}

#foto_diri{
    width: 300px;
    border-radius: 50px;
}

.informasi_khusus{
    padding-top: 5px;
}

.judul{
    font-size: 25px;
    font-family: 'Chonburi';
}

.penjelasan{
    font-size: 20px;
    font-family: 'Comic Neue';
    padding-left: 20px;
}

#tahun{
    font-size: 15px;
}
